@{
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";
}

@{
    ViewBag.Title = "Administrator";
}

<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="#">首页<span class="sr-only">(current)</span></a></li>
        <li><a href="#">用户管理</a></li>
        <li><a href="#">通知管理</a></li>
    </ul>
</div>


