

@{
    ViewBag.Title = "UserInfo";
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Users</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                User Table
            </div>
            <div class="panel-body">
                <table id="table_id">
                    <thead>
                        <tr role="row">
                            <th>
                                头像
                            </th>
                            <th>
                                账号
                            </th>
                            <th>
                               上次登录
                            </th>
                            <th>
                                DeviceUUID
                            </th>
                            <th>
                                DeviceToken
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    
                    </tbody>

                </table>

            </div>
        </div>
        
    </div>

</div>



@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/dataTable")

<script>
    $(function () {
            var t = $('#table_id').DataTable();
       
            $.getJSON("./api/TenLogins", function (result) {
                //  console.log("offset:"+new Date().getTimezoneOffset());
                $.each(result, function (i, field) {
                    if (result[i]["UserIndex"] != 0) {

                        var lastLogin = result[i]["LastLogin"] * 1000 - new Date().getTimezoneOffset() * 3600 * 1000;
                        t.row.add([
                            "<img src='" + "http://www.limao-tech.com/Ten/TenImage/GetProfileByUser?userIndex=" + result[i]["UserIndex"] + "'width='100' height='100'/>",
                            result[i]["UserID"],
                            new Date(lastLogin),
                            result[i]["DeviceUUID"],
                            result[i]["DeviceToken"],
                            "<a href='./User/Details?id=" + result[i]["LoginIndex"] + "'>Details</a>"
                        ]).draw(true);
                    /*
                        $("tbody").append(
                            "<tr role='row'>"
                            + "<td>"
                            + "<img src='" + "http://www.limao-tech.com/Ten/TenImage/GetProfileByUser?userIndex=" + result[i]["UserIndex"] + "'width='100' height='100'/>"
                            + "</td>"
                            + "<td>"
                            + result[i]["UserID"]
                            + "</td>"
                            + "<td>"
                            + new Date(lastLogin)
                            + "</td>"
                            + "<td>"
                            + result[i]["DeviceUUID"]
                            + "</td>"
                            + "<td>"
                            + result[i]["DeviceToken"]
                            + "</td>"
                            + "<td>"
                            +  "<a href='./User/Details?id="+result[i]["LoginIndex"]+"'>Details</a>"
                            + "</td>"
                            + "</tr>");
                            */
                    }
                });
               // $('#table_id').DataTable();
            });

           
   

    });

</script>



